.ArrayInput {
  --item-min-width: 44px;
  display: flex;
}

.ArrayInput .array-item {
  border: 2px solid var(--theme-color);
  min-width: var(--item-min-width);
  text-align: center;
  background-color: lightsalmon;
  font-size: 2rem;
}

.ArrayInput .array-item.array-item-display:focus {
  outline: none;
}

.ArrayInput .array-item.array-item-display {
  cursor: pointer;
}

.ArrayInput .array-item.array-item-edition {
  background-color: white;
  font-size: 1.5rem;
}

.ArrayInput .array-item.array-item-edition:focus {
  outline: none;
}

.ArrayInput .item-input-wrapper {
  display: flex;
  align-items: center;
}

.ArrayInput .item-input {
  min-width: var(--item-min-width);
  border: none;
  height: 100%;
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

.ArrayInput .item-input:focus {
  outline: none;
}

.ArrayInput .add-number-button {
  margin: 5px;
}
