.App .header {
  height: var(--header-height);
  background-color: var(--theme-color);
  color: var(--contrast-color);
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.App .title {
  margin: 0;
}
